<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @template[:data] %></h1>
    <p>
      Click here to reset your password.
    </p>
  </body>
</html>